*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

body {
    background-image: url("https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
}


footer {
    margin-left: 5%;
    margin-right: 5%;
    
}

.container-p-4-pb-0{
    border-style: ridge;
    padding-left: 50%;

}

.p2 {
    display: flex;
}


.navbar, footer{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 25%, rgb(8,90,45) 70%, rgba(166,128,70,0.7) 100%);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
}

#logoBrand{
    font-family: "Lucida Console", "Courier New", monospace;
    white-space: 100vw;
    text-decoration: none;
    color:#a68046;
    font-weight: bolder;
    font-size: larger;
}

#navDropdown { 
    left: 0;
}
.checkout-box .checkout-btn {
    position: relative;
    display: flex;
    z-index: 1;
    overflow: hidden;
    border-radius: .8rem;
    text-align: center;
    background-color: #1d6829;
    color: white;
}
.checkout-btn {
    font-weight: bold;
    box-shadow: rgb(117, 195, 149) 0px 20px 30px -10px;
}
.checkout-box .checkout-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #124019;
    z-index: -1;
    transition: .5s;
}

.checkout-box .checkout-btn:hover::before {
    width: 100%;
    border-radius: .8rem;
}

footer {
    margin-left: 5%;
    margin-right: 5%;
}

#logoBrandImg{
   height: 65px !important;
}